## Imports

In [2]:
import pandas as pd
from ydata_profiling import ProfileReport

c:\Users\Marnie\anaconda3\envs\datasus\Lib\site-packages\tqdm\auto.py:21: TqdmWarning: IProgress not found. Please update jupyter and ipywidgets. See https://ipywidgets.readthedocs.io/en/stable/user_install.html
  from .autonotebook import tqdm as notebook_tqdm

## ERRS

In [4]:
path = '../data/ERRS_concat.csv'
df = pd.read_csv(path)
# ProfileReport(df).to_file('../data/ERRS_concat_report.html')

## RJRS

In [ ]:
path = '../data/RJRS_concat.csv'
df = pd.read_csv(path)

# ProfileReport(df).to_file('./data/RJRS_concat_report.html')

C:\Users\Marnie\AppData\Local\Temp\ipykernel_15728\2270009499.py:2: DtypeWarning: Columns (42,77,78,84) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(path)

## RDRS

In [ ]:
print('reading dataset')
df = pd.read_csv('../data/RDRS_concat.csv')
# df.read_csv('../data/dados_filtrados.csv')
print('reading done')

# print('building report')
# ProfileReport(df, minimal=True).to_file('./data/RDRS_concat_report.html')
# print('report done')

reading dataset

C:\Users\Marnie\AppData\Local\Temp\ipykernel_4856\2927452778.py:2: DtypeWarning: Columns (42,61,77,78,84,88,89,96,97,98,99,100,101,102) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv('../data/RDRS_concat.csv')

reading done

In [14]:
# Drop valores constantes
df = df.drop(columns=['UTI_MES_IN', 'UTI_MES_AN', 'UTI_MES_AL', 'UTI_INT_IN', 'UTI_INT_AN', 'UTI_INT_AL',
                 'VAL_SADT', 'VAL_RN', 'VAL_RN', 'VAL_ACOMP', 'VAL_ORTP', 'VAL_SANGUE', 'VAL_SADTSR',
                 'VAL_TRANSP', 'VAL_OBSANG', 'VAL_PED1AC', 'RUBRICA', 'TOT_PT_SP', 'TPDISEC8', 'TPDISEC9'
            ])

In [15]:
# Drop todos dados faltantes (100%)
df = df.drop(columns=['NUM_PROC', 'CPF_AUT', 'GESTOR_DT', 'INFEHOSP', 'DIAGSEC9', 'DIAGSEC8'])

# Drop muitos valores faltantes (>90%)
df = df.drop(columns=['CID_NOTIF', 'FAEC_TP', 'AUD_JUST', 'SIS_JUST', 'DIAGSEC1', 'DIAGSEC2', 'DIAGSEC3',
                 'DIAGSEC4', 'DIAGSEC5', 'DIAGSEC6', 'DIAGSEC7'
            ])

In [ ]:
# Manter apenas observações de porto alegre
CODIGO_POA = 431490
df = df[df['MUNIC_MOV'] == CODIGO_POA]
df = df.drop(columns=['MUNIC_MOV'])

,Unnamed: 0,UF_ZI,ANO_CMPT,MES_CMPT,ESPEC,CGC_HOSP,N_AIH,IDENT,CEP,MUNIC_RES,...,VAL_SP_GES,VAL_UCI,MARCA_UCI,TPDISEC1,TPDISEC2,TPDISEC3,TPDISEC4,TPDISEC5,TPDISEC6,TPDISEC7
31149,31149,431490,2008,1,2,9.269313e+13,4307108059694,1,96610000,430690,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
31150,31150,431490,2008,1,2,9.269313e+13,4307108059771,1,94495420,432300,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
31151,31151,431490,2008,1,2,9.269313e+13,4307108059848,1,95600000,432120,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
31152,31152,431490,2008,1,2,9.269313e+13,4307108059903,1,94425150,432300,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
31153,31153,431490,2008,1,2,9.269313e+13,4307108059969,1,95745000,430468,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
12721705,60864,431490,2024,12,1,9.289855e+13,4324108961777,1,96140970,431440,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
12721706,60865,431490,2024,12,1,9.289855e+13,4324108961788,1,94170240,430920,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
12721707,60866,431490,2024,12,1,9.289855e+13,4324108961799,1,95625000,431033,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
12721708,60867,431490,2024,12,1,9.289855e+13,4324108961800,1,91420612,431490,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
12721709,60868,431490,2024,12,1,9.289855e+13,4324108961810,1,90810000,431490,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [ ]:
profile = ProfileReport(df, minimal=True)
profile.to_file('../data/RDRS_APOS_TRATAMENTO.html')

100%|██████████| 78/78 [00:41<00:00,  1.88it/s]5<00:00,  9.58it/s, Describe variable: TPDISEC7]
Summarize dataset: 100%|██████████| 84/84 [00:55<00:00,  1.52it/s, Completed]
Generate report structure: 100%|██████████| 1/1 [00:34<00:00, 34.23s/it]
Render HTML: 100%|██████████| 1/1 [00:02<00:00,  2.23s/it]
Export report to file: 100%|██████████| 1/1 [00:00<00:00, 68.49it/s]

In [ ]:
# Ajustar Sexo para 1 = M = Masculino, 2 = 3 = F = Feminino
sexo_map = {
    1: 'M',
    2: 'F',
    3: 'F'
}

df['GENERO'] = df['SEXO'].map(sexo_map)
df['GENERO'] = df['GENERO'].fillna('NI')
df = df.drop(columns=['SEXO'])

In [28]:
# Dropar valores constantes (depois dos filtros)
df = df.drop(columns=['UF_ZI', 'GESTAO', 'SEQ_AIH5', 'VAL_SH_GES', 'VAL_SP_GES'])

In [29]:
profile = ProfileReport(df, minimal=True)
profile.to_file('../data/RDRS_APOS_TRATAMENTO.html')

100%|██████████| 72/72 [00:38<00:00,  1.86it/s]3<00:00,  9.15it/s, Describe variable: GENERO]
Summarize dataset: 100%|██████████| 78/78 [00:53<00:00,  1.45it/s, Completed]
Generate report structure: 100%|██████████| 1/1 [00:25<00:00, 25.71s/it]
Render HTML: 100%|██████████| 1/1 [00:02<00:00,  2.05s/it]
Export report to file: 100%|██████████| 1/1 [00:00<00:00, 66.65it/s]

In [31]:
# Pensamos em utilizar ETNIA como um fator de identificação, porém devido 16% de dados faltantes e
# ser um dado frágil (depende de quem preenche e da identificação pessoal), decidimos descartar.
df['ETNIA'].sample(10)

8142379     0
4983972     0
7639835     0
10234085    0
6952239     0
10365409    0
6327296     0
7006598     0
6758510     0
12578370    0
Name: ETNIA, dtype: object

In [35]:
df.to_csv('../data/dados_filtrados.csv')

## Análise exploratória

In [34]:
# Estes códigos indicam o início do tratamento dialítico e são fundamentais para estabelecer o ponto de partida na análise do tempo # até a confecção da FAV:
DIALISE =  {
    '3x_semana'            : '0305010107',
    'hiv_hepatites'        : '0305010115',
    'pediatrica_4x_semana' : '0305010204',
    'dpi'                  : '0305010026',
    'dpac_dpa'             : '0305010182'
}
FAV = {
    'hemodialise'     : '0418010030',
    'ptfe'            : '0418010013',
    'autologo'        : '0418010021',
    'acesso_generico' : '0406020086'
}